<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.css" type="text/css" />
    <link rel="stylesheet" href="/stylesheets/app.css" type="text/css" />
    <title>Document</title>
</head>
<body>
<h1>Header Partial</h1>
