<h1>Edit blog post here</h1>
<h3>Unique Blog ID: <%=blog._id%></h3>
<img src="<%=blog.image%>">


<form action="/blogs/<%=blog._id %>?_method=PUT" method="POST">
    <label for="name">Name: </label>
    <input value="<%=blog.name%>" id="name" name="name">
    <input type="submit" />
</form>