<% include partials/header %>

<h2>List of my blog posts</h2>
<a href="/blogs/new">Create new post</a>

<% blogs.forEach(function(blog){ %>
    <h3><%=blog.name%></h3>
    <a href="/blogs/<%= blog._id %>">
        <image height="300px" width="300px" src="<%=blog.image%>">
    </a>
    <p><%=blog.body%></p>
<% }); %>

<% include ./partials/footer %>