<h1>Welcome!  Fill out form below to create a new blog post</h1>

<form action="/blogs" method="POST">
    <label for="name">Title: </label>
    <input placeholder="Title" id="name" name="name">
    <label for="image">Image URL: </label>
    <input placeholder="Image URL" id="image" name="image">
    <label for="body">Blog Post: </label>
    <input placeholder="Blog Away ..." id="body" name="body">
    <button>Submit</button>
</form>
